<html>
  <div th:fragment="blog">
    <div class="container py-5" style="color: #11112b">
      <div class="row">
        <div class="row justify-content-between">
          <div class="col">
            <h1 class="fw-bold">Blog</h1>
          </div>
          <div class="col">
            <div class="row justify-content-end">
              <div class="col-auto">
                <button type="button" class="prev-btn btn btn-lg">
                  <i class="fa-solid fa-arrow-left"></i>
                </button>
              </div>
              <div class="col-auto">
                <button type="button" class="next-btn btn btn-lg">
                  <i class="fa-solid fa-arrow-right"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col align-self-end">
            <button type="button" class="btn btn-outline-secondary btn-lg p-3">
              READ MORE ARTICLES
              <span>
                <i class="px-2 fa-solid fa-arrow-right"></i>
              </span>
            </button>
          </div>
          <div class="col-8">
            <div class="swiper mySwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide me-4">
                  <hr />
                  <small>Review</small>
                  <h4 class="fw-bold">
                    5 Ways Software Developer Can Boost Your Business Quicker
                    Than Ever
                  </h4>
                  <h3 class="mt-5 fw-bold">20.03</h3>
                </div>

                <div class="swiper-slide me-4">
                  <hr />
                  <small>Review</small>
                  <h4 class="fw-bold">
                    5 Ways Software Developer Can Boost Your Business Quicker
                    Than Ever
                  </h4>
                  <h3 class="mt-5 fw-bold">20.03</h3>
                </div>

                <div class="swiper-slide me-4">
                  <hr />
                  <small>Review</small>
                  <h4 class="fw-bold">
                    5 Ways Software Developer Can Boost Your Business Quicker
                    Than Ever
                  </h4>
                  <h3 class="mt-5 fw-bold">20.03</h3>
                </div>

                <div class="swiper-slide me-4">
                  <hr />
                  <small>Review</small>
                  <h4 class="fw-bold">
                    5 Ways Software Developer Can Boost Your Business Quicker
                    Than Ever
                  </h4>
                  <h3 class="mt-5 fw-bold">20.03</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
