<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <body>
    <div style="color: #11112b" class="container my-5" th:fragment="footer">
      <div class="row">
        <div class="col">
          <h1 class="text-uppercase fw-bold">
            Wave<span class="fw-normal">net</span>
          </h1>
          <div class="w-25">
            <img class="img-fluid" th:src="@{images/cta.svg}" alt="" />
          </div>
        </div>
        <div class="col">
          <h5 class="mb-4">Newsletter</h5>
          <div class="input-group">
            <input
              class="form-control"
              id="newsletter"
              type="text"
              placeholder="Email Address"
            />
            <button class="btn" type="button" id="button-addon2">
              <i class="fa-solid fa-arrow-right"></i>
            </button>
          </div>

          <div class="row align-items-end">
            <div class="col">
              <button type="button" class="btn btn-lg">
                <i class="fa-brands fa-instagram"></i>
              </button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-lg">
                <i class="fa-brands fa-facebook"></i>
              </button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-lg">
                <i class="fa-brands fa-twitter"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col">
          <h5 class="mb-4">Explore</h5>
          <div class="row gy-2">
            <a href="http://" class="link-underline link-underline-opacity-0"
              >About Us</a
            >
            <a href="http://" class="link-underline link-underline-opacity-0"
              >Services</a
            >
            <a href="http://" class="link-underline link-underline-opacity-0"
              >Pricing</a
            >
            <a href="http://" class="link-underline link-underline-opacity-0"
              >Blog</a
            >
            <a href="http://" class="link-underline link-underline-opacity-0"
              >Contact</a
            >
          </div>
        </div>
        <div class="col">
          <h5 class="mb-4">Contact</h5>
          <div class="row gy-2">
            <a href="http://" class="link-underline link-underline-opacity-0"
              >Email</a
            >
            <a href="http://" class="link-underline link-underline-opacity-0"
              >Phone</a
            >
            <a href="http://" class="link-underline link-underline-opacity-0"
              >Address</a
            >
            <a href="http://" class="link-underline link-underline-opacity-0"
              >Social Media</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
