<html>
  <div
    th:fragment="questions (questions)"
    style="background-color: #11112b; color: white"
  >
    <div class="container py-5">
      <div class="text-center">
        <h1 class="fw-bold" style="font-size: 4em">Questions</h1>
        <p class="my-3">
          Visit our FAQ section to learn more about what we do and how we can
          help your business succeed.
        </p>
      </div>

      <div
        class="accordion accordion-flush text-left gy-5"
        id="accordionExample"
      >
        <div class="accordion-item" th:each="q,iter  : ${questions}">
          <h2 class="accordion-header">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              th:data-bs-target="'#collapse' + ${iter.index}"
              aria-expanded="false"
              th:aria-controls="'collapse' + ${iter.index}"
              style="font-weight: bold"
            >
              <span class="align-middle me-5" th:text="${q.number}" />
              <span class="align-middle" th:text="${q.name}" />
            </button>
          </h2>
          <div
            th:id="'collapse' + ${iter.index}"
            class="accordion-collapse collapse show"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p th:text="${q.description}"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
